@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  src: local('Open Sans Regular'),
       url('https://api.chicagoejn.org/fonts/OpenSans-Regular.ttf') format('truetype')
}

:root {
	font-family:
		'Open Sans Regular', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: rgb(0, 74, 173);
	--heading-color: rgba(0, 0, 0, 0.7);
	--color-metadata: rgb(100, 100, 100);
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--text-small: 0.85rem;
	--text-normal: 1rem;
	--text-large: 1.25rem;
	--text-huge: 1.5rem;
	--spacing-8: 0.5rem;
	--spacing-16: 1rem;
	--spacing-24: 1.5rem;
	--spacing-32: 2rem;
	--spacing-48: 2.5rem;
	--breakpoint-mobile: 500px;
	--breakpoint-tablet: 700px;
	--breakpoint-desktop: 900px;
	--font-family--primary: 'Open Sans Regular';
	font-size: 16px;
	line-height: 1.2rem;
}

@media screen and (min-width: 900px) {
	:root {
		font-size: 18px;
	}
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background: rgba(255, 255, 255, 1.0);
}

#svelte {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

p {
	line-height: 2rem;
	font-size: 1rem;
	margin: 0;
}

ul,
h1 {
	margin: 0;
}

ul {
	list-style: none;
}

a {
	color: var(--accent-color);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

input[type="file"],
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	border-radius: 0.2rem;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(225, 225, 225, 1);
	box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.3);
	font-family: var(--font-family--primary);
	box-sizing: border-box;
}

input[type="file"]::file-selector-button {
	display: inline-flex;
	background-color: rgba(255, 255, 255, 1);
	border: none;
	border-radius: 0.2rem;
	box-shadow: 2px 1px 2px -1px rgba(0, 0, 0, 0.3),
							inset 1px 1px 2px -1px rgba(0,0,0,0.2),
							inset 0px -1px 2px -1px rgba(0,0,0,0.2);
	z-index: +1;
	padding: 10px;
	margin-right: var(--spacing-8);
}

input[type="file"].panel {
	background-image: none;
}

input[type="file"].panel::file-selector-button {
	background-image: linear-gradient(to top, rgba(225, 225, 225, 0.2) 25%, rgba(255, 255, 255, 0) 100%);
}

.button {
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(225, 225, 225, 1);
	border-radius: 0.25rem;
	box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
	display: inline-flex;
	align-items: center;
	justify-items: center;
	padding: 10px;
}

.button.button-flat {
	box-shadow: none;
	background-color: transparent;
	border: 0;
}

input[type="file"]::file-selector-button,
.button:hover {
	cursor: pointer;
}

.cursor-pointer {
	cursor: pointer;
}

/*****************************************************
******************************************************
	CONTAINER RULES
******************************************************
*****************************************************/

.flex-row {
	display: flex;
	flex-direction: column;
}

.flex-column {
	display: flex;
	flex-direction: row;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2
}

.flex-3 {
	flex: 3
}

.flex-reactive {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 500px) {
	.flex-reactive {
		flex-direction: row;
	}
}

/*****************************************************
******************************************************
	SIZING RULES
******************************************************
*****************************************************/

.width-100 {
	width: 100%;
}

.width-75 {
	width: 75%;
}

.width-50 {
	width: 50%;
}

.width-25 {
	width: 25%;
}

/*****************************************************
******************************************************
	PADDING RULES
******************************************************
*****************************************************/

.squeeze-8 {
	padding-left: var(--spacing-8);
	padding-right: var(--spacing-8);
}

.squeeze-16 {
	padding-right: var(--spacing-16);
	padding-left: var(--spacing-16);
}

.squeeze-24 {
	padding-left: var(--spacing-24);
	padding-right: var(--spacing-24);
}

.squeeze-32 {
	padding-left: var(--spacing-32);
	padding-right: var(--spacing-32);
}

.squeeze-48 {
	padding-left: var(--spacing-48);
	padding-right: var(--spacing-48);
}

.squish-8 {
	padding-top: var(--spacing-8);
	padding-bottom: var(--spacing-8);
}

.squish-16 {
	padding-top: var(--spacing-16);
	padding-bottom: var(--spacing-16);
}

.squish-24 {
	padding-top: var(--spacing-24);
	padding-bottom: var(--spacing-24);
}

.squish-32 {
	padding-top: var(--spacing-32);
	padding-bottom: var(--spacing-32);
}

.squish-48 {
	padding-top: var(--spacing-48);
	padding-bottom: var(--spacing-48);
}

/*****************************************************
******************************************************
	SPACING RULES
******************************************************
*****************************************************/

.stack-8 {
	margin-bottom: var(--spacing-8);
}

.stack-16 {
	margin-bottom: var(--spacing-16);
}

.stack-24 {
	margin-bottom: var(--spacing-24);
}

.stack-32 {
	margin-bottom: var(--spacing-32)
}

.stack-48 {
	margin-bottom: var(--spacing-48);
}

.spread-8 {
	margin-right: var(--spacing-8);
}

.spread-16 {
	margin-right: var(--spacing-16);
}

.spread-24 {
	margin-right: var(--spacing-24);
}

.spread-32 {
	margin-right: var(--spacing-32);
}

.spread-48 {
	margin-right: var(--spacing-48);
}

.push-8 {
	margin-left: var(--spacing-8);
}

.push-16 {
	margin-left: var(--spacing-16);
}

.push-24 {
	margin-left: var(--spacing-24);
}

.push-32 {
	margin-left: var(--spacing-32);
}

.push-48 {
	margin-left: var(--spacing-48);
}

.gap-8 {
	grid-gap: var(--spacing-8);
	gap: var(--spacing-8);
}

.gap-16 {
	grid-gap: var(--spacing-16);
	gap: var(--spacing-16);
}

.gap-24 {
	grid-gap: var(--spacing-24);
	gap: var(--spacing-24);
}

.space-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.align-baseline {
	align-items: baseline;
}

.align-first-baseline {
	align-items: first baseline;
}

.align-content-start {
	align-content: start;
}

.align-content-end {
	align-content: end;
}

.align-start {
	align-items: start;
}

.align-items-end {
	align-items: end;
}

.justify-items-end {
	justify-items: end;
}

.justify-items-start {
	justify-items: start;
}

.justify-content-end {
	justify-content: end;
}

.justify-content-start {
	justify-content: start;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text-align-center {
	text-align: center;
}

/*****************************************************
******************************************************
	TEXT RULES
******************************************************
*****************************************************/

.text-huge {
	font-size: var(--text-huge);
}

.text-large {
	font-size: var(--text-large);
}

.text-normal {
	font-size: var(--text-normal);
}

.text-small {
	font-size: var(--text-small);
}

.text-strong {
	font-weight: bold;
}

.text-medium {
	font-weight: normal;
}

.text-thin {
	font-weight: lighter;
}

.text-style-metadata {
	color: var(--color-metadata);
}

.text-style-italic {
	font-style: italic;
}

/*****************************************************
******************************************************
	PERIMETER RULES
******************************************************
*****************************************************/

.border-bottom--square {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.border-top--square {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

.border-left--square {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.border-right--square {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.border--square {
	border-radius: 0 !important;
}

.border--rounded-8 {
	border-radius: var(--spacing-8);
}

.border--rounded-16 {
	border-radius: var(--spacing-16);
}

.border--rounded-24 {
	border-radius: var(--spacing-24);
}

.border--rounded-circle {
	border-radius: 50%;
}

.bordered {
	border: 1px solid rgba(225, 225, 225, 1);
	border-radius: 0.25rem;
}

.bordered-horizontal {
	border-right-width: 0;
	border-left-width: 0;
}

.bordered-vertical {
	border-top-width: 0;
	border-bottom-width: 0;
}

.bordered-top {
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
}

.bordered-bottom {
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
}

.bordered-left {
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}

.bordered-right {
	border-left-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}

/*****************************************************
******************************************************
	SHADOW CLASSES
******************************************************
*****************************************************/

.raised-1 {
	box-shadow: 0 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.7);
}

.raised-2 {
	box-shadow: 0 0.2rem 0.4rem -0.2rem rgba(0, 0, 0, 0.7);
}

/*****************************************************
******************************************************
	BOUTIQUE CLASSES
******************************************************
*****************************************************/

.container {
	padding: 0.2rem;
}

.panel {
	background-image: linear-gradient(to top, rgba(225, 225, 225, 0.2) 25%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 1px 2px -1px rgba(50, 50, 50, 0.7);
}

.separator {
	border-color: transparent;
	border-width: 2px;
	border-style: solid;
	width: 100%;
	box-shadow: 0 1px 2px -1px rgba(50, 50, 50, 0.7);
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.card {
	box-shadow: 0px 3px 8px -2px rgba(50, 50, 50, 0.5);
	border-radius: 0.5rem;
	overflow: hidden;
}

.raised {
	box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
}
